.nav-container {
    position: fixed;
    width: 100%;
    height: 4rem;
    /* Remove background-color later - only for testing purpose */
    background-color: #fff;
    /* background-color: #4998ba; */
}

.nav-grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: relative;
    height: 100%;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item-menu {
    justify-content: start;
    margin-left: 50px;
}